@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.login_form {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        svg {
            position: absolute;
            bottom: 0;
        }

        div {
            position: absolute;
            border-radius: 100%;
        }

        .round1,
        .round2 {
            background-color: #FFE500;
        }

        .round3,
        .round4 {
            background-color: #FF4EAE;
        }

        .round5,
        .round6 {
            background-color: #D374FF;
        }

        .round7 {
            background-color: #BCBBFF;
        }

        .round8,
        .round9 {
            background-color: #2200ffb0;
        }

        .round1 {
            width: 287px;
            height: 192px;
            left: -102px;
            bottom: -100px;
            filter: blur(50px);
        }

        .round2 {
            width: 202px;
            height: 339px;
            top: -100px;
            right: -100px;
            filter: blur(50px);
        }

        .round3 {
            width: 454px;
            height: 364px;
            bottom: -200px;
            left: 100px;
            filter: blur(100px);
        }

        .round4 {
            width: 325px;
            height: 238px;
            top: -50px;
            right: 0px;
            rotate: 45deg;
            filter: blur(100px);
            z-index: 2;
        }

        .round5 {
            width: 386px;
            height: 440px;
            right: 250px;
            top: -100px;
            filter: blur(100px);
            z-index: 2;
        }

        .round6 {
            width: 371px;
            height: 499px;
            left: 50px;
            bottom: 100px;
            filter: blur(100px);
        }

        .round7 {
            width: 408px;
            height: 364px;
            top: 150px;
            right: -20px;
            filter: blur(100px);
        }

        .round8 {
            width: 430px;
            height: 378px;
            bottom: 100px;
            right: -250px;
            filter: blur(100px);
        }

        .round9 {
            width: 530px;
            height: 478px;
            top: 0px;
            left: -250px;
            filter: blur(100px);
        }
    }



    form {
        width: 30vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        border-radius: 30px;
        border: 1px white solid;
        padding: 3rem 3rem;
        margin: 50vh 50vw;
        transform: translateY(-50%) translateX(-50%);
        background-color: rgba(255, 255, 255, 0.534);
        backdrop-filter: blur(10px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // border: 1px black solid;

        h1 {
            font-size: 45px;
        }

        .form__input {
            font-size: 22px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            input {
                width: 100%;
                height: 30px;
                font-size: 100%;
                background-color: transparent;
                outline: 0;
                border: 0;
                border-bottom: 1px black solid;
                padding: 2rem 0;
                font-size: 18px;
            }
        }

        .form__href {
            font-size: 14px;
            text-decoration: underline;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
            padding: 1rem 0;

            input {
                width: 200px;
                height: 50px;
                font-size: 22px;
                font-weight: 600;
                background-color: transparent;
                border-radius: 15px;
                border: 1px black solid;
                cursor: pointer;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            a {
                color: black;
            }
        }
    }
}

.Post {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3 !important;

    .cross {
        position: absolute;
        height: 35px;
        width: 35px;
        right: 2rem;
        top: 1rem;
        fill: white;
        z-index: 2;
        cursor: pointer;
    }

    .Post__box {
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        .page {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            border-radius: 15px !important;

            .top {
                min-height: 60px !important;
                max-height: 60px !important;
                width: 100% !important;
                border-bottom: 1px gray solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;

                p {
                    color: rgba(0, 0, 255, 0.447);
                    text-transform: capitalize;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        color: blue;
                    }
                }

                p:nth-child(2) {
                    color: black;
                    font-weight: 700;
                }
            }
        }

        .page1 {
            width: 70vh;
            height: 70vh;

            .top {
                justify-content: center;
            }

            .bottom {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .context {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    gap: 30px;

                    img {
                        width: 150px;
                        height: 150px;
                        opacity: 0.9;
                    }

                    button {
                        background-color: rgba(0, 0, 255, 0.612);
                        color: white;
                        width: 200px;
                        height: 40px;
                        outline: 0;
                        border: 0;
                        font-size: 16px;
                        font-weight: 700;
                        border-radius: 15px;
                        cursor: pointer;

                        &:hover {
                            background-color: blue;
                        }
                    }
                }
            }
        }

        .page2 {

            .bottom {
                width: fit-content;
                height: 60vh;
                overflow: hidden;
                padding: 0;
                margin: 0;
                display: flex;

                img {
                    width: auto;
                    height: 60vh;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }

        .page3 {

            .bottom {
                width: fit-content;
                height: 60vh;
                overflow: hidden;
                padding: 0;
                margin: 0;
                display: flex;

                img {
                    width: auto;
                    height: 60vh;
                    border-bottom-left-radius: 15px;
                }

                .edit {
                    width: 350px;

                    .profil {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 1rem;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 70px;
                            border: 1px solid black;
                        }

                        p {
                            font-weight: 600;
                        }
                    }

                    textarea {
                        padding: 1rem;
                        resize: none;
                        width: 100%;
                        height: 130px;
                        outline: 0;
                        border: 0;
                    }

                    .other {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px gray solid;

                        form {
                            width: 100%;

                            label {

                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-top: 1px gray solid;

                                input {
                                    height: 50px;
                                    padding: 0.5rem;
                                    outline: 0;
                                    border: 0;
                                    text-transform: capitalize;
                                    font-size: 15px;
                                }

                                button {
                                    background: transparent;
                                    border: 0;
                                    outline: 0;
                                    padding: 0 1rem;

                                    svg {
                                        width: 25px;
                                        height: 25px;
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.SideBar {
    width: 16vw;
    height: 100vh;
    position: fixed;
    border-right: 1px rgba(128, 128, 128, 0.4) solid;

    .top {
        height: 20vh;
        display: flex;
        align-items: center;

        h1 {
            width: fit-content;
            margin: auto;
            text-transform: uppercase;
            font-size: 36px;
        }
    }

    .middle {
        height: 65vh;
        display: flex;
        flex-direction: column;
        padding: 4rem 0;

        .active {
            font-weight: 800;
        }

        li {
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                color: black;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 600;
            }

            svg {
                width: 32px;
                height: 32px;
            }
        }
    }

    .bottom {
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            height: 40px;
            width: 120px;
            background-color: transparent;
            border: 2px black solid;
            border-radius: 15px;
            text-transform: capitalize;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                background-color: black;
                color: white;
            }

            &:active {
                transform: scale(0.96);
            }
        }
    }
}

.Profile {
    .rightPart {
        width: 84vw;
        position: absolute;
        right: 0px !important;
        height: 100vh;
        z-index: -1 !important;

        .top {
            width: 60vw;
            margin: 0 auto;
            // background-color: gray;
            height: 50vh;
            display: flex;
            align-items: center;

            .side {
                height: 230px;
                padding: 1.5rem;
            }

            img {
                width: 230px;
                height: 230px;
                border-radius: 100%;
                // margin-top: 25vh;
                // transform: translateY(-50%);
            }
        }

        .bottom {
            width: 100%;
            border-top: 1px rgba(0, 0, 0, 0.279) solid;

            .top {
                height: 50px;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 35px;
                    width: fit-content;
                    margin: 0 auto;

                    .active{
                        border-top: 1px black solid;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        height: 50px;
                        cursor: pointer;

                        p{
                            font-size: 18px;
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}